/* src/styles/global.css */
body {
  background: url('/public/images/background.png') no-repeat center center fixed;
  background-size: cover;
  font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  color: #333;
  line-height: 1.6;
}

.App {
  text-align: center;
  padding: 20px;
}
  
nav {
  background: rgba(3, 169, 244, 0.7); /* Сlightly transparent blue background */
  padding: 10px 20px; /* Добавляем горизонтальные отступы */
  margin-bottom: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px; /* Скругленные углы */
}
  
nav a {
  margin: 0 15px;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  transition: color 0.3s ease;
}

nav a:hover {
  color: #ffeb3b;
}

h1, h2 {
  color: #333;
  margin-bottom: 20px;
}

p {
  color: #666;
  max-width: 800px;
  margin: 0 auto;
  line-height: 1.8;
}

.container {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  margin: 20px auto;
}

button {
  background: #03a9f4;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background 0.3s ease;
}

button:hover {
  background: #0288d1;
}