/* src/styles/global.css */
body {
  background: url('/public/images/background.png') no-repeat center center fixed;
  background-size: cover;
  font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  color: #000; 
  line-height: 1.6;
  font-size: 20px;
}

.App {
  text-align: center;
  padding: 20px;
}

  
nav a {
  margin: 0 15px;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  transition: color 0.3s ease;
}

nav a:hover {
  color: #11100a;
}

.container {
  margin-left: 470px;
  margin-top: 100px; /* Добавленный отступ сверху */
  padding: 20px;
  box-sizing: border-box;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  max-width: 1050px;
  width: 100%;
  color: #000; 
}

button {
  background: #03a9f4;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background 0.3s ease;
}

button:hover {
  background: #0288d1;
}

.math-section {
  margin-top: 2rem;
  padding: 1.5rem;
  background: #f8f9fa;
  border-radius: 8px;
}

.math-section h2 {
  color: #2c3e50;
  border-bottom: 1px solid #ddd;
  padding-bottom: 0.5rem;
}

.math-section h3 {
  margin-top: 1.5rem;
  color: #000;
}

.markdown h1 {
  font-size: 40px;
  text-align: center;
}

.markdown h2,
.markdown h3 {
  font-size: 30px;
  text-indent: 50px;
  text-align: left;
}

.markdown figure {
  margin: 10px 0;
  text-align: center;
}

.markdown figcaption {
  font-style: italic;
  margin-top: 8px;
  color: #000;
  text-align: center;
}

.markdown p {
  font-size: 18px;
  text-indent: 40px; /* Теперь сработает правильно */
}

.markdown ul,
.markdown ol {
  padding-left: 60px; /* Отступ у всего списка */
}

.markdown li {
  text-align: left;
}