.side-menu {
  width: 350px; /* Ширина открытого меню */
  height: 100vh;
  position: fixed;
  top: 0;
  left: 125px;
  background-color: #f4f4f4;
  padding: 20px;
  box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease; /* Анимация при открытии/закрытии */
  overflow-y: auto; /* Добавляем вертикальную прокрутку */
}

/* Стили для кнопок сворачивания/разворачивания разделов */
.toggle-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
  background-color: #555;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.toggle-button:hover {
  background-color: #8a51e6;
}

.toggle-button span {
  font-size: 14px;
}

/* Стили для вложенных списков */
nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  margin: 10px 0;
}

nav ul li ul {
  margin-left: 20px;
}